<ion-view view-title="Alunos">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/detail/{{chat.id}}">
        <h2>{{chat.name}}</h2>
        <p>RA: {{chat.ra}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-dark" ng-click="edit(chat)">
          Editar
        </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Deletar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
